@charset "UTF-8";
*{
	font-family: sans-serif;
    color: #380B61;
    margin: 0;
}
h3{
	margin: 10px;
}

body{
    width: 800px;
    height:960px;
}
.titulo {
    font-family: sans-serif;
    color: #380B61;
    margin-bottom: 60px;
    margin-top: 50px;
    font-weight: 1100;
} 
.tabela{
	width: 800px;
    height:960px;
}

span{
	float: right;
	text-align: center;
	padding-right: 10px;
}
td{
	margin:10px;
}